@charset "utf-8";

$breakpoints: (
    "medium": 600px,
    "large": 768px
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

@mixin serif($size, $weight) {
    font-family: 'Noto Serif JP', serif;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    color: #51616b;
    letter-spacing: calc($size / 10);
}

;

body {
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;

    @include respond-to("large") {
        background-color: rgba($color: #cbd6d9, $alpha: 0.4);
    }
}

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($color: #ffffff, $alpha: 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__letter {
        @include serif(50px, 500);
        opacity: 0;
        animation: delay .5s ease-in-out forwards; 
    }

    @keyframes delay {
        0% {
            opacity: 0;
            transform: translateY(-200px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
        
    }
}

.loader-showoff {
    animation: loaderShowOff 1.5s ease-in-out forwards;
}

@keyframes loaderShowOff {
    0% {
        opacity: 1;
        position: fixed;
        z-index: 999;
    }

    100% {
        opacity: 0;
        position: fixed;
        z-index: -1;
    }
}

.section {
    width: 100%;

    &__title {
        @include serif(28px, 500);
        text-align: center;
        margin-bottom: 40px;

        @include respond-to("large") {
            @include serif(32px, 500);
            margin-bottom: 60px;
        }
    }

    &__subtitle {
        @include serif(22px, 500);
        margin-bottom: 32px;

        @include respond-to("large") {
            @include serif(24px, 500);
        }
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &__wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    

    &__logo {
        
        img {
            display: block;
            width: 72px;
            height: auto;
        }
    }

    &__nav {
        display: none;
        
    }

    .hamburger {

        &__img {

            img {
                width: 24px;
                height: auto;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    background-color: #ffffff;

    @include respond-to("large") {
        box-shadow: 0 0 20px 4px rgba($color: #000000, $alpha: 0.1);
    }
}

.hero {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    &__wrapper {
        width: 100%;
        padding-top: 60px;
    }

    .splide {
            
        &__slide {
            transform: scale(1.1);
            transition: transform .3s ease-in-out;
            will-change: transform;
    
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .is-active {
            transform: scale(1);
        }
    }

    &__content {
        position: absolute;
        writing-mode: vertical-rl;
        top: 40px;
        right: 44px;
        z-index: 1;
    }

    &__title {
        @include serif(28px, 400);
        line-height: 150%;
        letter-spacing: 7px;
        color: #ffffff;

        @include respond-to("large") {
            @include serif(32px, 400);
            letter-spacing: 5px;
            color: #ffffff;
        }

        &--pt {
            color: #ffffff;
            padding-top: 32px;

            @include respond-to("large") {
                padding-top: 40px;
            }
        }
    }

}

.philosophy {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    &__wrapper {
        width: 100%;
        padding: 0 20px;
    }

    &__title {
        margin-bottom: calc(64/16 * 1rem);
    }

    &__text {
        @include serif(14px, 400);
        line-height: 200%;
        text-align: justify;
        opacity: 0;
        margin-bottom: 32px;

        @include respond-to("large") {
            @include serif(18px, 400);
        }

        &--bold {
            @include serif(14px, 600);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .text-active {
        opacity: 1;
        transition: all 1s ease-in-out;
    }
}

.about {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    &__title {
        margin-bottom: 96px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        opacity: 0;

        @include respond-to("large") {
            // margin-bottom: px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &__item {
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 24px;

            @include respond-to("large") {
                padding: 0 40px;
                gap: 48px;
            }
        }

        &__img {

            img {
                width: 100px;
                aspect-ratio: 1/2;

                @include respond-to("large") {
                    width: 200px;
                    aspect-ratio: 1/2;
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 16px 0;
        }

        &__title {
            @include serif(22px, 500);
            text-align: center;

            @include respond-to("large") {
                @include serif(28px, 500);
            }
        }

        &__desc {
            @include serif(14px, 400);
            line-height: 220%;
            text-align: justify;

            @include respond-to("large") {
                @include serif(18px, 400);
            }
        }
    }

    .flex-container-active {
        opacity: 1;
        transition: all 1s ease-in-out;
    }
}

.howto {
    width: 100%;
    margin-bottom: 120px;

    &__wrapper {
        width: 100%;
        padding: 0 20px;
    }

    &__img {
        margin-bottom: 64px;
        
        img {
            width: 100%;
        }
    }

    &__text {
        @include serif(16px, 400);
        line-height: 220%;
        letter-spacing: 1px;
        text-align: justify;
        margin-bottom: 64px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cta {
    margin-bottom: 196px;

    &__text {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 50px;
        @include serif(14px, 400);
        background-color: #51616b;
        color: #ffffff;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        @include respond-to("large") {
            width: 200px;
            height: 60px;
            @include serif(16px, 400);
            color: #ffffff
        }

        &:hover {
            opacity: .8;   
        }
    }

    &__logo {
        text-align: center;

        img {
            width: auto;
        }
    }
}

.fixed-button {
    display: none;

    @include respond-to("large") {
        position: fixed;
        bottom: 100px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: .8;
            transition: opacity .5s ease-in-out;
        }
    }

    &__link {
        padding: 16px 20px;
        @include serif(20px, 400);
        color: #ffffff;
        writing-mode: vertical-rl;
    }
}

.btn-active {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.footer {
    width: 100%;
    padding: 40px 20px;
    background-color: #51616b;

    @include respond-to("large") {
        padding: 40px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 96px;

        @include respond-to("large") {
            gap: 40px;
        }
    

        &-link {
            @include serif(12px, 400);
            color: #ffffff;

            @include respond-to("large") {
                @include serif(14px, 400);
                color: #ffffff;
            }
        }
    }

    &__text {
        @include serif(10px, 400);
        color: #ffffff;
        text-align: center;

        @include respond-to("large") {
            @include serif(12px, 400);
            color: #ffffff;
        }
    }
}

//product.scss


.product {
    max-width: 500px;
    margin: 0 auto 40px;

    &__wrapper {
        width: 100%;
        padding: 128px 20px 0;
    }

    &__title {
        @include serif(24px, 500);
        margin-bottom: 48px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 128px;


        // @include respond-to("large") {
        //     margin-bottom: 40px;
        // }

        &__item {
            width: 48%;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            @include respond-to("large") {
                margin-bottom: 40px;
                gap: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__img {

            img {
                width: 100%;
            }
        }

        &__title {
            @include serif(16px, 400);

            @include respond-to("large") {
                @include serif(18px, 400);
            }
        }

        &__desc {
            @include serif(16px, 400);

            @include respond-to("large") {
                @include serif(18px, 400);
            }
        }
    }
}